<pre>
In <em>replace</em> mode, the preset replacement rules are as follows:
  1). <em>param</em>: Matches any param value that precedes an "&".
  2). <em>name</em>: Matches any file name that precedes a "/".
  3). <em>version</em>: Matches the format of a version number.
  4). <em>any</em> or <em>...</em>: Matches any content.

  Numbers enclosed in parentheses <em>(1-9)</em> can be used to insert corresponding capture groups. <em>(0)</em> represents the entire matched text.

If using <em>regex</em> mode, please refer to the <a target="_blank" href="https://developer.chrome.com/docs/extensions/reference/api/declarativeNetRequest">Chrome Developer Center</a>
</pre>
