<pre>
1. <em>clear DNS Cache</em> requires Chrome started with <em>--enable-net-benchmarking</em> flag, see <a target="_blank" href="https://www.chromium.org/developers/design-documents/extensions/how-the-extension-system-works/chrome-benchmarking-extension/">Benchmarking</a> for further details..
2. In <em>replace</em> mode, adhere to the following preset substitution rules:
  路 <em>param</em>: Matches any param value that precedes an "&".
  路 <em>name</em>: Matches any file name that precedes a "/".
  路 <em>version</em>: Matches the version format, like 1.22.1
  路 <em>any</em> or <em>...</em>: Matches any content.
  Numbers enclosed in parentheses <em>(1-9)</em> can be used to insert corresponding capture groups. <em>(0)</em> represents the entire matched text.
3. If using <em>regex</em> mode, see <a target="_blank" href="https://developer.chrome.com/docs/extensions/reference/api/declarativeNetRequest">declarativeNetRequest</a>.
4. If using <em>useEqual</em> mode, Any matching address will be redirected. see <a target="_blank" href="https://developer.chrome.com/docs/extensions/reference/api/declarativeNetRequest?hl=zh-cn#filter-matching-charactgers">urlFilter</a>
</pre>

