.resource-proxy-mini {
  padding: 16px;
  width: 360px;
  height: 100vh;
  background-color: #ffffffab;

  .topbar-actions {
    text-align: right;
    margin-bottom: 20px;
    button {
      margin-left: 6px;
    }
  }

  th,
  td {
    &.enable,
    &.type,
    &.option {
      text-align: center;
    }
  }
  .ant-table {
    background: #ffffffbf;
  }

  .align-center {
    text-align: center;
  }

  .field-option {
    text-align: center;
    white-space: nowrap;

    button {
      margin: 0 3px;
      padding: 0 10px;
    }
  }
}
