.resource-proxy-mini {
  padding: 20px;
  background: #FFF;

  .topbar-actions {
    text-align: right;
    margin-bottom: 20px;
    button {
      margin-left: 6px;
    }
  }

  .field-type {
    width: 120px;
  }

  .field-option {
    text-align: center;
    white-space: nowrap;

    button {
      margin: 0 3px;
      padding: 0 10px;
    }
  }
}
