html,
body {
  background: #f0f2f5;
}
#content {
  min-width: 380px;
  font-size: 12px;
}

.ant-table {
  .ant-table-cell {
    font-weight: normal !important;
  }
}

.layout {
  width: 1080px;
  margin: 0 auto;

  .layout-content {
    min-height: 520px;
    margin: 30px 0;

    .content-wrapper {
      border-radius: 6px;
      padding: 20px;
      background: #fff;
      margin-bottom: 15px;
    }
  }
}
